doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap-theme.css')
    script(src='/javascripts/bootstrap/js/bootstrap.min.js')
  body
    block content
